<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> 
    
| Gender : Male |
| Age : 22years |
| Disease : Melanoma |
| Accuracy : 78% |
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>